# Mais sobre `SELECT`: agrupamentos

## Introdução

Vamos continuar nossa investigação sobre o comando `SELECT`. Desta vez usaremos a base de dados `'sakila'`, uma famosa base de dados de teste construída pelos autores do MySQL. 

Abra a URL [**https://dev.mysql.com/doc/sakila/en/**](https://dev.mysql.com/doc/sakila/en/) para conhecer melhor esta base de dados, que modela uma locadora de DVDs (riam, vocês também serão velhos um dia!). Se você não possui esta base, siga as instruções de instalação na página.

Vamos também construir nosso objeto auxiliar para conectar com a base de dados, como fizemos na última aula.

In [1]:
from functools import partial
from dotenv import load_dotenv
import insperautograder.jupyter as ia
import mysql.connector
import os

load_dotenv(override=True)

connection = mysql.connector.connect(
    host=os.getenv("MD_DB_SERVER"),
    user=os.getenv("MD_DB_USERNAME"),
    password=os.getenv("MD_DB_PASSWORD"),
    database="sakila",
)


def run_db_query(connection, query, args=None):
    with connection.cursor() as cursor:
        print("Executando query:")
        cursor.execute(query, args)
        for result in cursor:
            print(result)


db = partial(run_db_query, connection)

## Exercícios para entrega

Esta aula tem atividade para entrega, confira os prazos e exercícios

In [2]:
ia.tasks()

|    | Atividade    | De                        | Até                       |
|---:|:-------------|:--------------------------|:--------------------------|
|  0 | newborn      | 2024-02-01 03:00:00+00:00 | 2024-05-30 03:00:00+00:00 |
|  1 | select01     | 2024-02-08 03:00:00+00:00 | 2024-02-19 02:59:59+00:00 |
|  2 | ddl          | 2024-02-22 03:00:00+00:00 | 2024-02-27 02:59:59+00:00 |
|  3 | dml          | 2024-02-26 03:00:00+00:00 | 2024-03-03 02:59:59+00:00 |
|  4 | group_having | 2024-02-29 03:00:00+00:00 | 2024-03-12 02:59:59+00:00 |
|  5 | views        | 2024-02-29 03:00:00+00:00 | 2024-03-16 02:59:59+00:00 |
|  6 | agg_join     | 2024-02-29 03:00:00+00:00 | 2024-03-05 02:59:59+00:00 |
|  7 | sql_review1  | 2024-03-11 03:00:00+00:00 | 2024-03-17 02:59:59+00:00 |

In [3]:
ia.grades(task="group_having")

|    | Atividade    | Exercício   |   Peso |   Nota |
|---:|:-------------|:------------|-------:|-------:|
|  0 | group_having | ex01        |      1 |     10 |
|  1 | group_having | ex02        |      4 |     10 |
|  2 | group_having | ex03        |      4 |     10 |
|  3 | group_having | ex04        |      4 |     10 |
|  4 | group_having | ex05        |      4 |     10 |
|  5 | group_having | ex06        |      8 |     10 |
|  6 | group_having | ex07        |      6 |     10 |
|  7 | group_having | ex08        |      6 |     10 |
|  8 | group_having | ex09        |     12 |     10 |
|  9 | group_having | ex10        |     10 |     10 |
| 10 | group_having | ex11        |     10 |     10 |
| 11 | group_having | ex12        |      6 |     10 |
| 12 | group_having | ex13        |     12 |     10 |

## Aquecimento

**Exercício 1**: Quais os nomes das categorias de filme? Ordene de forma crescente.

In [4]:
sql_ex01 = """
select
	name
from 
	category
order by 
	name asc;
"""

db(sql_ex01)

Executando query:
('Action',)
('Animation',)
('Children',)
('Classics',)
('Comedy',)
('Documentary',)
('Drama',)
('Family',)
('Foreign',)
('Games',)
('Horror',)
('Music',)
('New',)
('Sci-Fi',)
('Sports',)
('Travel',)

In [5]:
ia.sender(answer="sql_ex01", task="group_having", question="ex01", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 2**: Quais atores tem as iniciais "J.D."? Exiba todos os atributos. Ordene de forma crescente pelo primeiro nome.

In [6]:
sql_ex02 = """
select
	*
from 
	actor
where 
	first_name LIKE "J%" and last_name LIKE "D%"
order by 
	first_name asc;
"""

db(sql_ex02)

Executando query:
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(41, 'JODIE', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33))
(35, 'JUDY', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(123, 'JULIANNE', 'DENCH', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [7]:
ia.sender(answer="sql_ex02", task="group_having", question="ex02", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 3**: Liste as cidades brasileiras presentes na base de dados. Ordene de forma decrescente.

In [8]:
sql_ex03 = """
select 
	ci.city
from 
	country as co
	inner join city as ci on co.country_id = ci.country_id
where
	co.country = 'Brazil'
order by
	city desc;
"""

db(sql_ex03)

Executando query:
('Vitória de Santo Antão',)
('Vila Velha',)
('Sorocaba',)
('São Leopoldo',)
('São Bernardo do Campo',)
('Santo André',)
('Santa Bárbara d´Oeste',)
('Rio Claro',)
('Poços de Caldas',)
('Poá',)
('Maringá',)
('Luziânia',)
('Juiz de Fora',)
('Juazeiro do Norte',)
('Ibirité',)
('Guarujá',)
('Goiânia',)
('Brasília',)
('Boa Vista',)
('Blumenau',)
('Belém',)
('Bagé',)
('Araçatuba',)
('Aparecida de Goiânia',)
('Angra dos Reis',)
('Anápolis',)
('Alvorada',)
('Águas Lindas de Goiás',)

In [9]:
ia.sender(answer="sql_ex03", task="group_having", question="ex03", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 4**: *Quantas* cidades brasileiras tem na base de dados? Renomeie para `qt_city`

In [10]:
sql_ex04 = """
select 
	count(ci.city) as qt_city
from 
	country as co
	inner join city as ci on co.country_id = ci.country_id
where
	co.country = 'Brazil'
order by
	city desc;
"""

db(sql_ex04)

Executando query:
(28,)

In [11]:
ia.sender(answer="sql_ex04", task="group_having", question="ex04", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 5**: Liste os filmes do ator (fictício) "Dan Harris". Ordene de forma crescente. Renomeie para `movie_title`.

In [12]:
sql_ex05 = """
-- SUA QUERY AQUI!

select 
	fm.title as movie_title
from 
	film_actor as fm_ac
	inner join actor as ac on fm_ac.actor_id = ac.actor_id
    inner join film as fm on fm_ac.film_id = fm.film_id
where
	ac.first_name = 'Dan' and ac.last_name = 'Harris'
order by
	fm.title asc;

"""

db(sql_ex05)

Executando query:
('BEDAZZLED MARRIED',)
('BOONDOCK BALLROOM',)
('DESTINY SATURDAY',)
('DIVINE RESURRECTION',)
('EYES DRIVING',)
('FELLOWSHIP AUTUMN',)
('GHOST GROUNDHOG',)
('GROOVE FICTION',)
('HILLS NEIGHBORS',)
('HOLIDAY GAMES',)
('INDEPENDENCE HOTEL',)
('INSIDER ARIZONA',)
('JADE BUNCH',)
('LIES TREATMENT',)
('MONTEREY LABYRINTH',)
('REUNION WITCHES',)
('RUN PACIFIC',)
('SCHOOL JACKET',)
('SEVEN SWARM',)
('SIEGE MADRE',)
('STEERS ARMAGEDDON',)
('STRAIGHT HOURS',)
('SUMMER SCARFACE',)
('SUPERFLY TRIP',)
('TITANIC BOONDOCK',)
('TITANS JERK',)
('VANISHING ROCKY',)
('WATERSHIP FRONTIER',)

In [13]:
ia.sender(answer="sql_ex05", task="group_having", question="ex05", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex05', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 6**: Quais filmes estão alugados por Florence Woods?

Retorne:
- O primeiro nome
- O sobrenome
- O id do cliente
- O título do filme

Ordene pelo:
- Título do filme, decrescente

In [14]:
sql_ex06 = """
SELECT
    cust.first_name,
    cust.last_name,
    cust.customer_id,
    f.title
FROM
    sakila.customer AS cust
    INNER JOIN sakila.rental AS r ON cust.customer_id = r.customer_id
    INNER JOIN sakila.inventory AS i ON r.inventory_id = i.inventory_id
    INNER JOIN sakila.film AS f ON i.film_id = f.film_id
WHERE
    cust.first_name = 'FLORENCE'
    AND cust.last_name = 'WOODS'
    AND r.return_date IS NULL
ORDER BY
    f.title DESC
"""

In [15]:
ia.sender(answer="sql_ex06", task="group_having", question="ex06", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex06', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 7**: Para quais línguas não tem nenhum filme na locadora? Ordene de forma crescente.

**Dica**: use `LEFT OUTER JOIN`

In [16]:
# linguas que não tem filmes na locadora

sql_ex07 = """
SELECT
    language.name
FROM
    sakila.language
    LEFT OUTER JOIN sakila.film ON language.language_id = film.language_id
WHERE
    film.film_id IS NULL
ORDER BY
    language.name ASC


"""

In [17]:
ia.sender(answer="sql_ex07", task="group_having", question="ex07", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex07', style=ButtonStyle()), Output()), _dom_classes=('widget…

## `DISTINCT`

As vezes desejamos consultar quais os valores distintos de uma coluna. Para isso usamos o qualificador `DISTINCT`. 

Por exemplo: Quais os anos de lançamento dos filmes da base?

In [18]:
# Vai aparecer muitas cópias de "(2006,)"
db("SELECT release_year FROM film LIMIT 20")

Executando query:
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)
(2006,)

Ops, parece que não tem muita variedade nesta base! Usando `DISTINCT` podemos limpar esse resultado:

In [19]:
db("SELECT DISTINCT release_year FROM film")

Executando query:
(2006,)

### Praticando

**Exercício 8**: Quais clientes estão alugando um DVD agora? Ordene pelo nome e sobrenome. Retorne o id, nome e sobrenome do cliente.

In [20]:
# clientes que estão alugando um dvd agora
# ordernar por nome e sobrenome

sql_ex08 = """
SELECT DISTINCT
    cust.customer_id,
    cust.first_name,
    cust.last_name
FROM
    sakila.customer AS cust
    INNER JOIN sakila.rental AS r ON cust.customer_id = r.customer_id
    INNER JOIN sakila.inventory AS i ON r.inventory_id = i.inventory_id
    INNER JOIN sakila.film AS f ON i.film_id = f.film_id
WHERE
    r.return_date IS NULL
ORDER BY
    cust.first_name ASC,
    cust.last_name ASC
"""

In [21]:
ia.sender(answer="sql_ex08", task="group_having", question="ex08", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex08', style=ButtonStyle()), Output()), _dom_classes=('widget…

## Agrupamento

Uma das características mais valiosas de banco de dados é o *agrupamento*. Podemos agrupar os resultados de uma query indicando uma coluna cujos valores serão usados para agrupar os dados.

Por exemplo, considere a seguinte tabela, que chamaremos de `vendas`:

| id | id_item | item | preco |
|--|--|--|--|
| 1 | 1 | A | 5 |
| 2 | 2 | B | 6 |
| 3 | 1 | A | 3 |
| 4 | 3 | C | 7 |
| 5 | 3 | C | 5 |
| 6 | 1 | A | 2 |

Se agruparmos pela coluna `id_item` teremos 3 conjuntos de resultados:

id_item = 1:

| id | id_item | item | preco |
|--|--|--|--|
| 1 | 1 | A | 5 |
| 3 | 1 | A | 3 |
| 6 | 1 | A | 2 |

id_item = 2:

| id | id_item | item | preco |
|--|--|--|--|
| 2 | 2 | B | 6 |

id_item = 3:

| id | id_item | item | preco |
|--|--|--|--|
| 4 | 3 | C | 7 |
| 5 | 3 | C | 5 |

É como se tivessemos uma lista de tabelas! Isso não é permitido em SQL. Temos que **resumir** a informação de cada uma das tabelas a uma linha só, o que significa que, para cada coluna, devemos escolher uma dessas opções:
- Resumir a informação da coluna usando uma **função de grupo**. Podemos somar, tirar a média, contar itens, concatená-los em uma única string, entre outras;
- Para colunas que se relacionam 1 para 1 com a coluna de agrupamento (como a coluna de agrupamento em si, ou a coluna `item` neste exemplo), manter este valor. Isso acontece frequentemente quando fazemos `JOIN`.
- Não incluir a coluna, caso contrário.

Neste exemplo, podemos tomar a seguinte decisão para cada coluna:
- `id`: descartar
- `id_item`: manter valor
- `item`: manter valor
- `preco`: vamos calcular a soma dos valores, e renomear esta informação para `total`

Com isso, obtemos a seguinte tabela:

| id_item | item | total |
|--|--|--|
| 1 | A | 10 |
| 2 | B | 6 |
| 3 | C | 12 |

Por fim, se não queremos id_item, ficamos com a seguinte tabela:

| item | total |
|--|--|
| A | 10 |
| B | 6 |
| C | 12 |

Para obter essa tabela podemos usar o seguinte comando SQL:

```SQL
SELECT 
    item, SUM(preco) as total 
FROM 
    vendas
GROUP BY
    id_item
```

Consulte o capítulo 9 do seu livro texto para conhecer mais sobre agrupamentos.

### Praticando

**Exercício 9**: Quais os 10 atores que mais apareceram em filmes?

Retorne o id, nome, sobrenome e a quantidade de filmes que o ator atua.

Ordene de forma descrescente pela quantidade.

In [22]:
sql_ex09 = """
SELECT
    f.actor_id,
    a.first_name,
    a.last_name,
    COUNT(f.film_id) AS film_count
FROM
    sakila.film_actor AS f
    INNER JOIN sakila.actor AS a ON f.actor_id = a.actor_id
GROUP BY
    f.actor_id,
    a.first_name,
    a.last_name
    
ORDER BY
    film_count DESC

LIMIT 
10  
"""

In [23]:
ia.sender(answer="sql_ex09", task="group_having", question="ex09", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex09', style=ButtonStyle()), Output()), _dom_classes=('widget…

## Pipeline do comando `SELECT`

Uma versão mais completa do `SELECT` (mas não inteiramente completa - consulte o manual do MySQL) é vista abaixo:

```
SELECT [DISTINCT] <select_header> 
FROM <source_tables>
WHERE <filter_expression>
GROUP BY <grouping_expressions>
HAVING <filter_expression>
ORDER BY <ordering_expressions>
LIMIT <count> 
OFFSET <count>
```

Você já deve ter percebido que o comando `SELECT` tem uma sequência própria de avaliação. Por exemplo, para saber quais filmes custam mais que 3 dinheiros, podemos escrever:

In [24]:
db("""
SELECT
    COUNT(f.rental_rate)
FROM
    film f
WHERE
    f.rental_rate > 3
""")

Executando query:
(336,)

Observe que o 'apelido' f para a tabela 'film' é definido na cláusula `FROM`, mas usado em `SELECT` e também em `WHERE`.

A ordem de execução do comando `SELECT` é aproximadamente como segue:

1. `FROM <source_tables>`: indica as tabelas que serão usadas nesta query e, conceitualmente, combina estas tabelas através de *produto cartesiano* em uma grande tabela. (Note o termo "*conceitualmente*" que usei: em termos de implementação da query este produto cartesiano raramente é construído.)

2. `WHERE <filter_expression>`: filtra linhas.

3. `GROUP BY <grouping_expressions>`: agrupa conjuntos de linhas.

4. `SELECT <select_heading>`: escolha de colunas e de agregados.

5. `HAVING <filter_expression>`: outra filtragem, esta aplicada apenas **depois** da agregação. Pode usar resultados do processo de agregação. Obriga o uso de `GROUP BY`.

6. `DISTINCT`: Elimina linhas duplicadas.

7. `ORDER BY`: ordena as linhas do resultado.

8. `OFFSET <count>`: Pula linhas do resultado. Requer LIMIT.

9. `LIMIT <count>`: Mantém apenas um número máximo de linhas.

Esta sequencia também serve como dica de como projetar uma query! 
- Comece identificando as tabelas que você deseja usar
- Monte o filtro de linhas, incluindo critérios de `JOIN`
- Agrupe
- Selecione colunas e aplique funções de agregação, conforme necessário
- Filtre com `HAVING`, agora que temos agregação
- O resto é mais fácil, aplique conforme requerido

## `WHERE` versus `HAVING`

Conforme visto acima, temos a cláusula `HAVING` para fazer filtragens *APÓS* agregação. Para que serve isso? Por exemplo, suponha que queremos saber quais atores não compartilham seu sobrenome com nenhum outro ator. Podemos usar a quer a seguir:

In [25]:
db("""
SELECT 
    a.first_name, a.last_name
FROM 
    actor a 
GROUP BY 
    a.last_name
HAVING
    COUNT(a.first_name) = 1
ORDER BY
    a.last_name, a.first_name
""")

Executando query:

ProgrammingError: 1055 (42000): Expression #1 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'sakila.a.first_name' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by

## Praticando

**Exercício 10**: Liste a duração média dos filmes na categoria 'Drama'. Renomeie o atributo retornado para `duracao_media_drama`.

In [ ]:
sql_ex10 = """
SELECT
    AVG(f.length) AS duracao_media_drama
FROM

    sakila.film AS f
    INNER JOIN sakila.film_category AS fc ON f.film_id = fc.film_id
    INNER JOIN sakila.category AS c ON fc.category_id = c.category_id
WHERE
    c.name = 'Drama'
"""

In [ ]:
ia.sender(answer="sql_ex10", task="group_having", question="ex10", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex10', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 11**: Liste o nome da categoria e a duração média dos filmes por categoria. Renomeie o atributo de média para `avg_len`. Ordene de forma decrescente por `avg_len`.

In [ ]:
sql_ex11 = """
SELECT
    cat.name,
    AVG(f.length) AS avg_len
FROM
    sakila.film AS f
    INNER JOIN sakila.film_category AS fc ON f.film_id = fc.film_id
    INNER JOIN sakila.category AS cat ON fc.category_id = cat.category_id
GROUP BY
    cat.name
ORDER BY
    avg_len DESC
"""

In [ ]:
ia.sender(answer="sql_ex11", task="group_having", question="ex11", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex11', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 12**: Liste o nome da categoria e a duração média dos filmes por categoria, apenas para categorias cuja duração média de filme excede 120 minutos. Renomeie o atributo de média para `avg_len`. Ordene de forma decrescente por `avg_len`.

In [ ]:
sql_ex12 = """
SELECT
    cat.name,
    AVG(f.length) AS avg_len
FROM
    sakila.film AS f
    INNER JOIN sakila.film_category AS fc ON f.film_id = fc.film_id
    INNER JOIN sakila.category AS cat ON fc.category_id = cat.category_id
GROUP BY
    cat.name
HAVING
    AVG(f.length) > 120
ORDER BY
    avg_len DESC
"""

In [ ]:
ia.sender(answer="sql_ex12", task="group_having", question="ex12", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex12', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 13**: Quais atores participaram de 35 a 40 filmes (intervalo fechado)?

Retorne:

- Nome
- Sobrenome
- Quantidade de filmes

Ordene por:
- Quantidade de filmes (Decrescente)
- Se houver empate na quantidade de filmes, ordene de forma crescente pelo nome e sobrenome.

In [ ]:
# se houver empate na quantidade de filmes, ordene por nome e sobrenome

sql_ex13 = """
SELECT
    a.first_name,
    a.last_name,
    COUNT(f.film_id) AS film_count
FROM
    sakila.film_actor AS f
    INNER JOIN sakila.actor AS a ON f.actor_id = a.actor_id
GROUP BY
    a.first_name,
    a.last_name
HAVING
    COUNT(f.film_id) BETWEEN 35 AND 40
ORDER BY
    film_count DESC,
    a.first_name ASC,
    a.last_name ASC
"""

In [ ]:
ia.sender(answer="sql_ex13", task="group_having", question="ex13", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex13', style=ButtonStyle()), Output()), _dom_classes=('widget…

# Conclusão

Esta aula de hoje foi bastante densa! Dicas de estudo:

- Pratique no seu livro-texto, capítulo 9. Lembre-se que a base 'música' pode ser usada para praticar os comandos SQL vistos no livro.
- Tente criar queries que sirvam de exemplo para os conceitos do livro! A tarefa de criar exemplos é muito instrutiva!

**Leitura prévia**:
Para a próxima aula vamos continuar praticando, com os assuntos dos capítulos 10 e 11, prepare-se para a aula, ok?

Até a próxima!

In [ ]:
connection.close()

NameError: name 'connection' is not defined

## Conferir Notas

Confira se as notas na atividade são as esperadas!

Primeiro na atividade atual!

In [ ]:
ia.grades(by="task", task="group_having")

|    | Tarefa       |   Nota |
|---:|:-------------|-------:|
|  0 | group_having |     10 |

In [ ]:
ia.grades(task="group_having")

|    | Atividade    | Exercício   |   Peso |   Nota |
|---:|:-------------|:------------|-------:|-------:|
|  0 | group_having | ex01        |      1 |     10 |
|  1 | group_having | ex02        |      4 |     10 |
|  2 | group_having | ex03        |      4 |     10 |
|  3 | group_having | ex04        |      4 |     10 |
|  4 | group_having | ex05        |      4 |     10 |
|  5 | group_having | ex06        |      8 |     10 |
|  6 | group_having | ex07        |      6 |     10 |
|  7 | group_having | ex08        |      6 |     10 |
|  8 | group_having | ex09        |     12 |     10 |
|  9 | group_having | ex10        |     10 |     10 |
| 10 | group_having | ex11        |     10 |     10 |
| 11 | group_having | ex12        |      6 |     10 |
| 12 | group_having | ex13        |     12 |     10 |

In [ ]:
ia.grades(by="task")

|    | Tarefa       |   Nota |
|---:|:-------------|-------:|
|  0 | agg_join     |  10    |
|  1 | ddl          |   8.89 |
|  2 | dml          |  10    |
|  3 | group_having |  10    |
|  4 | newborn      |  10    |
|  5 | select01     |  10    |
|  6 | views        |   0    |